$regressive: rgb(90, 90, 90);
$regressiveDark: rgb(63, 63, 63);

$assertive: dodgerblue;
$assertiveDark: royalblue;

$progressive: green;
$progressiveDark: darkgreen;

$destructive: red;
$destructiveDark: rgb(200, 0, 0);
