@import '../node_modules/modern-normalize/modern-normalize.css';
@import './styles/colors.scss';

html,
body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  font-size: 62.5%;
}

main {
  font-size: 1.6rem;

  padding: 1rem;
}

input {
  border: .2rem solid grey;
  border-radius: .3rem;

  padding: 1rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.field {
  $padding: .5rem 0;

  margin: 1rem 0;
  display: flex;
  flex-direction: column;

  .error {
    color: $destructive;

    order: 1;

    padding: $padding;
  }

  label {
    display: block;
    width: 100%;

    padding: $padding;
  }

  .error + input {
    border-color: $destructive;
    outline-color: $destructive;
  }
}

.page-heading {
  padding: 2rem 0;
  border-bottom: .1rem solid grey;
}

button {
  padding: 1rem 5rem;
  border: 0;
  border-radius: .4rem;

  &.progressive {
    background-color: $progressive;
    color: white;

    &:enabled:hover {
      background-color: darkgreen;
    }
  }

  &.destructive {
    background-color: $destructive;
    color: white;

    &:enabled:hover {
      background-color: $destructiveDark;
    }
  }

  &:enabled:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed !important;
    opacity: 50%;
  }
}
