<h1>Domains</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>UUID</th>
      <th>Type</th>
      <th>Active</th>
      <th>Persistent</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let domain of data.domains" [routerLink]="['/domain/', domain.uuid]">
      <td>{{ domain.name }}</td>
      <td>{{ domain.uuid }}</td>
      <td>{{ domain.osType }}</td>
      <td>{{ domain.isActive }}</td>
      <td>{{ domain.isPersistent }}</td>
      <td>
        <button type="button" class="button progressive">Edit</button>
        <button type="button" class="button destructive">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
