table {
  width: 100%;
  border-collapse: collapse;

  tr {
    border: .1rem solid #ddd;
    border-left: 0;
    border-right: 0;
  }

  th,
  td {
    padding: .7rem;
  }

  thead {
    th {
      text-align: left;
    }
  }

  tbody {
    tr {
      cursor: pointer;

      &:hover td {
        background: #ddd;
      }
    }
  }

}
